<button type="button" class="profile-edit-btn btn btn-outline-secondary" name="btnAddMore" value="Edit Email or Password" (click)="open(content)">Edit Email or Password</button>

<!-- Show component after clicking -->
<ng-template #content let-modal >
  <app-update-email-password class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 "></app-update-email-password>
</ng-template>