
<button type="button" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" (click)="open(content)">Edit Profile</button>

<!-- Show component after clicking -->
<ng-template #content let-modal >
  <app-editprofile class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 "></app-editprofile>
</ng-template>
