<form class="mt-5" [formGroup]="registerForm" >
    <img src="https://1184592825.rsc.cdn77.org/main-files/uploads/2018/08/facebook-ads-ecommerce.jpg" class="logo">
    <div class="form-group">
        <label for="email">Email address *</label>
        <input type="email"  formControlName="email" class="form-control" id="email" aria-describedby="email"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password *</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="repeatPassword">Confirm Password *</label>
        <input type="password" formControlName="repeatPassword"  class="form-control" id="repeatPassword"
            placeholder="Confirm entered password">
    </div>
    <button type="submit"  class="btn btn-primary" (click)="register()">Submit</button>
    <div class="form-group">
        <small class="font-weight-bold">Do you already have an account? <a 
                class="text-danger " [routerLink]="['/']" routerLinkActive="router-link-active" >Login</a></small>
    </div>
  </form>