<form class="mt-5" [formGroup]="loginForm">
    <img src="https://1184592825.rsc.cdn77.org/main-files/uploads/2018/08/facebook-ads-ecommerce.jpg" class="logo">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()" >Submit</button>
    <div class="form-group">
      <small class="font-weight-bold">Don't have an account? <a class="text-danger" [routerLink]="['/register']" >Register</a></small>
    </div>
  </form>