<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">EDIT PROFILE</h5>
    <form class="card-text" [formGroup]="editForm" method="POST" (ngSubmit)="onSubmit()">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Name">Name</label>
          <input type="text" class="form-control" placeholder="Name" formControlName="name" id="Name">
          <small class="has-text-danger" *ngIf="editForm.get('name').errors">Letters only</small>
        </div>
        <div class="form-group col-md-6">
          <label for="Surname">Surname</label>
          <input type="text" class="form-control" placeholder="Surname" formControlName="surname" id="Surname">
          <small class="has-text-danger" *ngIf="editForm.get('surname').errors">Letters only</small>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Nickname">Nickname</label>
            <input type="text" class="form-control" placeholder="Nickname" formControlName="nickname" id="Nickname">
        </div>

        <div class="form-group col-md-6">
          <label for="Phone">Phone</label>
          <input type="tel" class="form-control" placeholder="Phone" formControlName="phone" id="Phone">
          <small class="has-text-danger" *ngIf="editForm.get('phone').errors">Numbers only</small>
        </div>
    </div>
      <div class="form-group">
        <label for="Address">Address</label>
        <input type="text" class="form-control" placeholder="1234 Main St" formControlName="address" id="Address">
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
      <button class="btn btn-light" type="button" (click)="close()">Cancel</button>
    </form>

  </div>
  <div class="card-footer text-muted">

  </div>
</div>

