

    
    <div class="container">
    <!-- ========================= SECTION MAIN  ========================= --> 
        <app-section-main-component></app-section-main-component>
    <!-- ========================= SECTION MAIN END// ========================= -->
    
    
    
    <!-- =============== SECTION DEAL =============== -->
        <app-section-deal-component></app-section-deal-component>
    <!-- =============== SECTION DEAL // END =============== -->
    
    <!-- =============== SECTION 1 =============== -->
        <app-section-apparel></app-section-apparel>
    <!-- =============== SECTION 1 END =============== -->
    
    <!-- =============== SECTION 2 =============== -->
        <app-section-electronics></app-section-electronics>
    <!-- =============== SECTION 2 END =============== -->
    
    
    
    <!-- =============== SECTION REQUEST =============== -->
        <app-section-request-quotation></app-section-request-quotation>
    <!-- =============== SECTION REQUEST .//END =============== -->
    
    
    <!-- =============== SECTION ITEMS =============== -->
        <app-section-recommended-items></app-section-recommended-items>
    <!-- =============== SECTION ITEMS .//END =============== -->
    
    
    <!-- =============== SECTION SERVICES =============== -->
        <app-section-trade-service></app-section-trade-service>
    <!-- =============== SECTION SERVICES .//END =============== -->
    
    <!-- =============== SECTION REGION =============== -->
        <app-section-region></app-section-region>
    </div>  
    <!-- container end.// -->
    <!-- =============== SECTION REGION .//END =============== -->
    <!-- ========================= SECTION SUBSCRIBE  ========================= -->
        <app-section-subscribe></app-section-subscribe>
    <!-- ========================= SECTION SUBSCRIBE END// ========================= -->
    
    
    