<div class="container vertical-align"> 
<div class="card text-center ">
    <div class="card-header">
      Write your email and password first
    </div>
    <div class="card-body">
      <form class="card-text" [formGroup]="updateForm" method="POST" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Yemail">Your Email</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="oldemail" required formControlName="youremail" id="Yemail">
              <small class="has-text-danger" *ngIf="updateForm.get('youremail').errors">your old email</small>
            </div>
            <div class="form-group col-md-6">
              <label for="Ypass">Your Password</label>
              <input type="password" class="form-control" placeholder="" [(ngModel)]="oldpass" required formControlName="yourpass" id="Ypass">
              <small class="has-text-danger" *ngIf="updateForm.get('yourpass').errors">your old password</small>
            </div>
          </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Ynewemail">Your new Email</label>
                <input type="text" class="form-control" placeholder="new email" formControlName="newemail" id="Ynewemail">
            </div>
            <div class="form-group col-md-6">
                <label for="Ynewpass">Your new Password</label>
                <input type="password" class="form-control" placeholder="new password" formControlName="newpass" id="Ynewpass">
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
        <button class="btn btn-light" type="button" (click)="close()">Cancel</button>
      </form> 
    </div>
    
  </div>
  </div>


  <!-- <h5 class="card-title">Special title treatment</h5>
  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  <a href="#" class="btn btn-primary">Go somewhere</a> -->