// .container{
//     max-height: 500px;
//     height: 500px;
    
    
// }

// .vertical-align {
//     padding-left: 130px;
    
//     display: flex;
//     flex-shrink: 0;
//     align-items: center;
//     flex-direction: row;
//     flex-flow: row;
//     align-content: space-between;
//   }

//   @media only screen and (max-width: 600px) {
//     .vertical-align{
//         padding: 0;
//     }
//   }