<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  (click)="open(content)">
      <ng-template #content let-modal>
        <h1>Add Profile Image</h1>
        
        <input type="file" (change)="onFileSelected($event)">
        <button type="button" (click)="onUpload()" class="fas fa-upload">Upload</button>
     
      </ng-template>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100" height="100" *ngIf="profileImageUrl.length <1">
            <circle cx="50%" cy="50%" r="40" stroke="white" stroke-width="3" fill="none"  />
            <circle cx="50%" cy="50%" r="39" stroke="green" stroke-width="2" fill="none" />
            
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="smaller" >add image</text>
         </svg>
         <img class="profile-image" src="{{ profileImageUrl }}" *ngIf="profileImageUrl.length > 1" style="border-radius: 50%; object-fit: cover; "/>
        </a>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>

      <div class="widget-header">
        <a [routerLink]="['../home']" class="widget-view">
            <div class="icon-area">
                <i class="fas fa-home"></i>
            </div>
            <small class="text"> Home </small>
        </a>
    </div>
      <div class="widget-header">
        <a  (click)="logout()" class="widget-view">
            <div class="icon-area">
                <i class="fas fa-sign-out-alt"></i>
            </div>
            <small class="text"> Log Out </small>
        </a>
    </div>
    
    
    </div>
  </nav>