img {
    display: block;
}

.profile-image {
    float: left;
    width: calc(50.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    
}

.profile-image img {
    border-radius: 50%;
}